<a href="https://colab.research.google.com/github/AKASH7088/data-science/blob/main/DS_(craigslist_car_dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_excel("Craigslist Car Dataset.xlsx")
df.head()

,location,condition,Listed_date,Listed_time,drive,fuel,lat,long,odometer,paint color,...,size,title status,transmission,type,year make model,cylinders,year,make,re_model,MODELS
0,dallas,excellent,2022-06-01,18;17,4wd,gas,32.856174,-96.672722,200396.0,NaN,...,NaN,clean,automatic,SUV,2010 Nissan Xterra,6,2010,Nissan,Nissan Xterra,Xterra
1,dallas,excellent,2022-06-01,18;16,fwd,hybrid,32.856174,-96.672722,152434.0,NaN,...,NaN,clean,automatic,SUV,2007 Lexus RX 400h,6,2007,Lexus,Lexus RX 400h,RX 400h
2,dallas,excellent,2022-06-01,18;16,fwd,gas,32.778500,-97.083400,90000.0,blue,...,mid-size,clean,automatic,sedan,2015 hyundai elantra,4,2015,hyundai,hyundai elantra,elantra
3,dallas,NaN,2022-06-01,18;16,fwd,gas,33.681077,-112.058490,61482.0,NaN,...,NaN,clean,automatic,van,2007 Honda Odyssey EX Power Side-Ent,6,2007,Honda,Honda Odyssey EX Power Side-Ent,Odyssey EX Power Side-Ent
4,dallas,excellent,2022-06-01,18;16,rwd,gas,32.856174,-96.672722,70523.0,NaN,...,mid-size,clean,automatic,sedan,2005 Infiniti G35 Sedan,6,2005,Infiniti,Infiniti G35 Sedan,G35 Sedan

In [ ]:
x = df[['year make model','odometer','condition']]
print(x)

                           year make model  odometer  condition
0                       2010 Nissan Xterra  200396.0  excellent
1                       2007 Lexus RX 400h  152434.0  excellent
2                     2015 hyundai elantra   90000.0  excellent
3     2007 Honda Odyssey EX Power Side-Ent   61482.0        NaN
4                  2005 Infiniti G35 Sedan   70523.0  excellent
...                                    ...       ...        ...
2599                       2011 Ford F-150  113430.0        NaN
2600                   2014 dodge ram 1500  199000.0  excellent
2601                     2016 Chrysler 200  112828.0        NaN
2602              2006 ford crown victoria  160000.0       good
2603          1962 Cadillac coupe de ville   62000.0        NaN

[2604 rows x 3 columns]

In [ ]:
y = df['price']
print(y)

0        6995.0
1        9495.0
2         800.0
3       25900.0
4        8995.0
         ...
2599    19569.0
2600    13500.0
2601    14239.0
2602     3900.0
2603    12900.0
Name: price, Length: 2604, dtype: float64

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['year make model']=le.fit_transform(df['year make model'])
print(df.head)

<bound method NDFrame.head of      location  condition Listed_date Listed_time drive    fuel        lat  \
0      dallas  excellent  2022-06-01       18;17   4wd     gas  32.856174
1      dallas  excellent  2022-06-01       18;16   fwd  hybrid  32.856174
2      dallas  excellent  2022-06-01       18;16   fwd     gas  32.778500
3      dallas        NaN  2022-06-01       18;16   fwd     gas  33.681077
4      dallas  excellent  2022-06-01       18;16   rwd     gas  32.856174
...       ...        ...         ...         ...   ...     ...        ...
2599   dallas        NaN  2022-05-28       10;57   4wd     gas  33.034224
2600   dallas  excellent  2022-05-28       10;57   NaN     gas  32.764900
2601   dallas        NaN  2022-05-28       10;56   fwd     gas  32.667688
2602   dallas       good  2022-05-28       10;54   NaN     gas  32.691400
2603   dallas        NaN  2022-05-28       10;54   NaN     gas        NaN

            long  odometer paint color  ...       size title status  \
0     -96.672722  200396.0         NaN  ...        NaN        clean
1     -96.672722  152434.0         NaN  ...        NaN        clean
2     -97.083400   90000.0        blue  ...   mid-size        clean
3    -112.058490   61482.0         NaN  ...        NaN        clean
4     -96.672722   70523.0         NaN  ...   mid-size        clean
...          ...       ...         ...  ...        ...          ...
2599  -96.811608  113430.0      custom  ...  full-size        clean
2600  -97.011200  199000.0         red  ...        NaN        clean
2601  -97.416916  112828.0       white  ...   mid-size        clean
2602  -97.267500  160000.0         NaN  ...        NaN        clean
2603         NaN   62000.0         NaN  ...        NaN        clean

     transmission    type year make model  cylinders  year      make  \
0       automatic     SUV             721          6  2010    Nissan
1       automatic     SUV             520          6  2007     Lexus
2       automatic   sedan            1464          4  2015   hyundai
3       automatic     van             514          6  2007     Honda
4       automatic   sedan             382          6  2005  Infiniti
...           ...     ...             ...        ...   ...       ...
2599    automatic  pickup             784          8  2011      Ford
2600    automatic     NaN            1281          8  2014     dodge
2601    automatic   sedan            1509          4  2016  Chrysler
2602    automatic     NaN             468        NaN  2006      Ford
2603    automatic     NaN              20        NaN  1962  Cadillac

                             re_model                     MODELS
0                       Nissan Xterra                     Xterra
1                       Lexus RX 400h                    RX 400h
2                     hyundai elantra                    elantra
3     Honda Odyssey EX Power Side-Ent  Odyssey EX Power Side-Ent
4                  Infiniti G35 Sedan                  G35 Sedan
...                               ...                        ...
2599                       Ford F-150                      F-150
2600                   dodge ram 1500                   ram 1500
2601                     Chrysler 200                        200
2602              ford crown victoria             crown victoria
2603          Cadillac coupe de ville             coupe de ville

[2604 rows x 21 columns]>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
a=LinearRegression()
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
scl=StandardScaler()
df=pd.read_excel("Craigslist Car Dataset.xlsx")
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.fillna("Honda",inplace=True)
d={"Nissan":1,"Lexus":2,"hyundai":3,"Honda":4,"Infiniti":5,"Dodge":6,"Chevrolet":7,"hyundai":8,"Volvo":9,"Chrysler":10,"Ford":11,"chevy":12}
df["make"]=df["make"].map(d)
d={"excellent":1,"good":2,"like new":3,"new":4,"fair":5}
df["condition"]=df["condition"].map(d)
m=df["condition"].mean()
df.fillna(m,inplace=True)
x=df[["condition","odometer","make","year"]]
y=df["price"]
scl.fit_transform(x)
# train test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=0)
a.fit (x_train,y_train)
y_pred=a.predict(x_test)
print(y_pred)
print('_')
print(y_test)
#print(a.coef_)
#mymodel=np.poly1d(np.polyfit(x_train,y_train,5))
#r2=r2_score(y_train,mymodel(x_train))
#print(r2)

from sklearn.metrics import mean_squared_error

rmse = (mean_squared_error(y_test, y_pred))
print(rmse)

[  7400.89289661  18287.36036777  21534.16265401  14999.03037956
  12380.75649192  19956.4273043   15129.1436122   21361.65707855
  15268.92183953  13421.84599541  24374.5684062   12871.10403577
  14781.45748197  14943.26739104  12522.24918917  13894.54577381
  14126.93667666  15328.82661623  21476.93644357  12798.65860479
  20298.78826641  14973.63365499  14405.24306778  14493.69678114
  16210.05891748  15189.56934732  16288.23258038  13082.88399784
  16723.61224173  20075.72878045  15517.64360988  16159.09426487
  14403.08387945  15118.59741505  13756.84702757  15465.69437671
  18981.08891386  23061.71001813  17920.24275631  19809.30127944
  13860.32943117  19063.25644704  10435.91105672  13497.96247112
  19186.11836113  18014.85761836   8746.49588513  16791.62823916
  16686.48304232  11229.02083562  24625.47392894  15468.27512082
  21935.76155213  13069.65899471  15893.24259784  14773.42386455
  15874.96216022  12139.28920007  14154.02952368  17319.9383581
  15050.40952302  16374.37699641  16410.24565278  19279.50429886
  13488.00140093  12141.40650785  15314.92011344  14817.74130475
  13490.74443572  21559.65189429  17486.12227322  18540.90378625
  16859.79793844  19281.00825738  17777.14369123  16650.85765261
  14300.51455878  20854.84180252  19630.87921707  17263.43918016
  20579.16491759  18548.46353361  10246.83097004  10246.83097004
  13984.28509745  16185.17123063  17780.31736498  19372.60864448
  18734.08600861  18019.22536137  14303.66258404  15699.30479702
  14880.06122587  17249.46920955  16655.41373871  19032.50139362
  13175.03312244  16838.97629653  12128.57874325   7295.98464829
  18889.56261145  18140.68891769 -21659.01430923  14979.80254682
  17696.88618123  15142.13242071  11043.50962561  14475.09090847
  11747.44081863  16185.17123063  12035.00932646   7635.12671474
   8055.15699271  22795.1702101   19782.15176731  21502.51631939
  19134.19925947  13999.69097065  20017.37274128  17474.82371337
  15079.86699955]
_
2577     7000.0
238     26900.0
872     10200.0
805      4250.0
1469     1500.0
         ...
1935    15000.0
1602     6500.0
1215    52500.0
682     14000.0
2313     6950.0
Name: price, Length: 121, dtype: float64
267925407.72872806